.card {
  cursor: pointer;
   border-radius: 12px;
   border: none;
   box-shadow: -3px 3px 10px #a29b9b;
  transition: all .2s ease-in-out;
  .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;

    & + .card-body {
        margin-top: 15px;
    }
    img {
        width: 100%;
        height: auto;
    }
}
  &:hover {
      transform: scale(.90);
  }

}
.user-img {
   height: 100px !important;
   width: 100px !important;
   object-fit: cover;
}
