<div class="card" (click)="navigateToUser()">
  <div class="card-avatar">
             <img *ngIf="user.avatar" class="user-img"  [src]="user.avatar">
 </div>

  <div class="card-body">
    <p class="text-center">
      <span class="text-muted"> User ID:</span> <span class="text-primary"> {{user.id}} </span>
    </p>
    <p class="text-center">
      <span class="text-muted"> First name:</span> <span class="text-primary"> {{user.first_name}} </span>
    </p>
    <p class="text-center">
      <span class="text-muted"> Last name:</span> <span class="text-primary"> {{user.last_name}} </span>
    </p>

  </div>
</div>
