<div class="card mb-3 w-100" >
  <div class="row g-0">
    <div class="col-md-4">
      <img *ngIf="user.avatar" [src]="user.avatar" class="img-fit rounded-start" >
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <div class="d-flex d-flex justify-content-between">
         <p> <span class="text-muted"> User ID:</span> <span class="text-primary"> {{user.id}} </span></p>
          <a routerLink="../">
            <span class="cursor-pointer">
              <mat-icon class="resize">chevron_left</mat-icon>
            </span>
           </a>
        </div>

        <p class="text-start">
          <span class="text-muted"> First name:</span> <span class="text-primary"> {{user.first_name}} </span>
        </p>
        <p class="text-start">
          <span class="text-muted"> Last name:</span> <span class="text-primary"> {{user.last_name}} </span>
        </p>
        <p class="text-start" >
          <span class="text-muted"> Email Address:</span> <span class="text-primary"> {{user.email}} </span>
        </p>
      </div>
    </div>
  </div>
</div>
