.img-fit{
  max-width: 100%;
  height: 100%;
}
.card {
  border: none;
   border-radius: 12px;
   box-shadow: 0px 5px 20px #a29b9b;
   background-color: #FFF;
   transition: all .4s ease-in-out;
   &:hover {
    transform: scale(0.98);
}
}
.resize{
  scale: (2);
}
@media only screen and (max-width: 800px) {
  .img-fit{
    width: 100% !important;
    height: 100%;

  }
}
