<div class="d-flex justify-content-end p-2">
  <mat-form-field class="example-full-width" >
    <input matInput (keyup)="filterUsers($event.target.value)" type="number" onkeydown="javascript: return (event.keyCode == 189 ||event.keyCode == 187 || event.keyCode == 69 ||this.value.length==9) ? (event.keyCode == 8) ?true:false : true" placeholder="Search by UserID" maxlength="3" >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-12 my-5" *ngFor="let user of userList">
    <app-card
     [user]="user">
    </app-card>
  </div>
</div>

<div *ngIf="userList" class="d-flex justify-content-end p-2">
  <mat-paginator
  [pageSize]="pageSize"
  [length]="total"
  (page)="onChangePage($event)">
  </mat-paginator>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-circus" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
